body {
  background-color: #d1d1d1;
  background-image: linear-gradient(to right, #637fa6, #637fa6 40px, #d1d1d1 40px, #d1d1d1 );
  background-size: 80px 100%;
  margin: 0 0;
  padding: 0 0;
  width: 100vw;
  height: 100vh;
  font-family: monospace;
}
#svg {
  display: block;
  margin: auto;
}
